@import '~rsuite/dist/rsuite.min.css';

@import './colors.css';
@import './fonts.css';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  height: 100%;
}

body {
  background-image: url("/bg.jpg");
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  font-family: var(--font-default);
  font-size: 14px;
  color: aliceblue;
}

.text-xl,
.text-2xl,
.text-3xl,
.text-4xl,
.text-5xl,
.text-6xl,
.text-7xl,
.text-8xl,
.text-9xl {
  font-family: var(--font-title);
}

.text-xs {
  font-family: var(--font-small);
  font-weight: 200;
}